$soft-blue: hsl(231, 69%, 60%);
$soft-red: hsl(0, 94%, 66%);
$grayish-blue: hsl(229, 8%, 60%);
$very-dark-blue: hsl(229, 31%, 21%);

p.nav-elements{
  text-transform: uppercase;
  color: #51566c;
  margin: 0 20px;
  font-size: 14px;
  letter-spacing: 2px;
  transition: 0.4s;
  &:hover {
    color: $soft-red;
  }
}

.btn-login{
  background-color: $soft-red;
  color: white;
  padding: 7px 35px;
  border-radius: 5px;
  font-size: 14px;
  letter-spacing: 2px;
  border: $soft-red 2px solid;
  transition: 0.4s;
  text-transform: uppercase;
  margin: 0 20px;
  &:hover {
    background-color: white;
    color: $soft-red;
    font-weight:600;
  }
}

// --------------------------

.title-container, .features-container, .features-tabs, .extension-container{
  padding: 40px 0;
}

h1.title{
  color: #252b46;
}

p.description{
  color: #9194a1;
  line-height: 27px;
  margin: 20px 0;
}

.btn-section{
  font-size: 14px;
  line-height: 28px;
}

.btn-chrome {
  background-color: $soft-blue;
  color: white;
  padding: 10px 30px;
  border-radius: 5px;
  transition: 0.4s;
  &:hover {
    border: $soft-blue 2px solid;
    background-color: white;
    color: $soft-blue;
  }
}

.btn-firefox {
  background-color: #f9f9f9;
  padding: 10px 30px;
  border-radius: 5px;
  color: #252b46;
  margin: 0 15px;
  transition: 0.4s;
  &:hover {
    border: black 2px solid;
    background-color: white;
  }
}

// --------------------

.features-container {
  margin: auto;
}

.features-section h2, .extension-container h2 {
  color: #252b46;
  font-weight: 500;
}

.features-content p {
  color: #9194a1;
  margin: 15px 0;
}

.features-content button {
  font-size: 14px;
}

.features {
  color: #9194a1;
  padding: 20px 0;
}

.extension-box {
  margin: auto;
  text-align: center;
  border-radius: 15px;
  padding-top: 3rem;
}

.extension-text {
  margin: 30px 0;
}

.extension-text h3 {
  font-size: 20px;
  font-weight: 500;
}

.extension-text p { 
  font-size: 15px;
  color: #9194a1;
}

.extension-box button {
  font-size: 14px;
  margin: 30px;
}

.question-container {
  border-bottom: 2px solid #f2f3f5;
}
.question-container h3, .question-container p{
  font-size: 16px;
  line-height: 36px;
}
.question-container h3 {
  margin-bottom: 10px;
}

footer {
  background-color: $very-dark-blue;
  color: white;
}

.footer-social {
  display: flex;
  align-items: center;
}

.footer-links p {
  font-size: 13px;
  font-weight: 500;
  transition: 0.4s;
  cursor: pointer;
  &:hover {
    color: $soft-red;
  }
}

.footer-social a {
  margin: 0 20px;
}

.contact-us {
  background-color: $soft-blue;
  color: white;
  margin-top: 100px;
}

.contact-us p {
  color: white;
  letter-spacing: 5px;
  font-size: 13px;
  font-weight: 500;
}
.contact-us h2 {
  color: white;
  font-weight: 700;
  font-size: 32px;
  margin: 20px 0;
}
.contact-form {
  display: flex;
}
.contact-us input {
  font-size: 13px;
  padding: 15px;
  color: black;
  border-radius: 5px;
}
.contact-us button {
  background-color: $soft-red;
  border-radius: 5px; 
  padding: 0 15px;
}